<?xml version="1.0"?>
<robot name="mini_cheetah" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="name" default="mini_cheetah"/>
    <xacro:property name="robot_namespace" value="$(arg name)"/>

    <!-- (find mini_cheetah_description)/mini_cheetah_parts/ -->
    <xacro:include filename="mini_cheetah_parts/torso.xacro"/>
    <xacro:torso xyz="0 0 0" rpy="0 0 0"/>

</robot>
