<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="torso" params="xyz rpy">

        <xacro:property name="torso_mesh_path" value="meshes/body.STL"/>
        
        <xacro:arg name="xyz" default="0 0 0"/>
        <xacro:property name="xyz" value="$(arg xyz)"/>
        
        <xacro:arg name="rpy" default="0 0 0"/>
        <xacro:property name="rpy" value="$(arg rpy)"/>

        <xacro:property name="torso_mass" value="3.3"/>


        <material name="cheetah_black"><color rgba="0.15 0.15 0.15 1.0" /></material>

        <link name="torso">
            <visual>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="${torso_mesh_path}"/>
                </geometry>
                <material name="cheetah_black"/>
            </visual>
            <collision>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <mesh filename="${torso_mesh_path}"/>
                </geometry>
            </collision>
            <inertial>
                <mass value="${torso_mass}"/>
                <origin xyz="${xyz}"/>
                <inertia ixx="0.011253" ixy="0" ixz="0" iyy="0.036203" iyz="0" izz="0.042673"/>
            </inertial>
        </link>

    </xacro:macro>
</robot>