<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="torso" params="xyz rpy">

        <xacro:arg name="xyz" default="0 0 0"/>
        <xacro:property name="xyz" value="$(arg xyz)"/>
        
        <xacro:arg name="rpy" default="0 0 0"/>
        <xacro:property name="rpy" value="$(arg rpy)"/>

        <xacro:property name="torso_mass" value="3.3"/>
        <xacro:property name="x_length" value="0.3"/>
        <xacro:property name="y_length" value="0.2"/>
        <xacro:property name="z_length" value="0.093"/>

        <xacro:property name="ixx" value="${(1/12) * torso_mass * (y_length * y_length + z_length * z_length)}"/>
        <xacro:property name="iyy" value="${(1/12) * torso_mass * (x_length * x_length + z_length * z_length)}"/>
        <xacro:property name="izz" value="${(1/12) * torso_mass * (x_length * x_length + y_length * y_length)}"/>

        <material name="cheetah_black"><color rgba="0.15 0.15 0.15 1.0" /></material>

        <link name="torso">
            <visual>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <box size="${x_length} ${y_length} ${z_length}"/>
                </geometry>
                <material name="cheetah_black"/>
            </visual>
            <collision>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry>
                    <box size="${x_length} ${y_length} ${z_length}"/>
                </geometry>
            </collision>
            <inertial>
                <mass value="${torso_mass}"/>
                <origin xyz="${xyz}"/>
                <inertia ixx="${ixx}" ixy="0.0" ixz="0.0" iyy="${iyy}" iyz="0.0" izz="${izz}" />
            </inertial>
        </link>

    </xacro:macro>
</robot>